body{
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(images/logB.jpeg);
    background-size: cover;
 }


.container{

    right: 10px;
    margin: 0px;
    max-width: 200px;
    padding: 18px;
    
}
.form{
    text-align: center;
}

input[type=text],
input[type= number],
input[type=names],
input[type=country],
input[type=username],
input[type=password]{
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(4, 88, 88, 0.637);
  width:400px;
    height: 30px;
    padding: 3px;
    margin:3% 10% 1% 16%;
    text-align: left; 
    
   }




  

.account{
    display: flex;

}  
form{
    background-color:white;
    width: 550px;
    height:330px;
    padding-right: 3%;
    padding-bottom: 25%;
    margin-left:324px;
    
    
}


h1{
    text-align: center;
    font-size:25px;
    color: rgba(0, 255, 136, 0.466);
    
    
}
p{
    text-align: center;
    margin-left: 9%;
}
a{
    color: blue;
}
.linear{
    border:none;
   

}
btn {
    background: none;

    width: 200px;
    height: 55px;
    font-size: smaller;
    padding-left: 100%;
    cursor: pointer;
     text-align: center;
     border:none;
         
}

 .btn{
     
    width: 38%;
    height: 55px;
    padding: 10px;
    margin-left: 190px;
    opacity: 1;
    margin-top:20px;
    background: linear-gradient(to right,  #3a7bd5, #00d2ff);
    

    }

.btn:hover { background-position: right center; }